body {
  #loading-indicator {
    display: none;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    img {
      z-index: 100;
      position: absolute;
      left: calc(50% - 92.5px);
      top: calc(50% - 74px);
    }
  }

  #content {
    width: 100%;

    #editor {
      position: absolute;
      width: 500px;
      height: 800px;
      border: 1px solid black;
    }

    .half {
      width: 50%;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }

}
